BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80
---
Language: Cpp
AccessModifierOffset: -4
Standard: Latest
AllowShortFunctionsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Middle
BreakBeforeBraces: Custom
IndentCaseLabels: false
BraceWrapping:
  AfterFunction: true
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
UseTab: Never
Cpp11BracedListStyle: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
DeriveLineEnding: false
UseCRLF: false
FixNamespaceComments: true
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SpaceAfterTemplateKeyword: false
IncludeBlocks: Preserve
